p {
    font-family: fantasy
}

#p1 {
    font-family: Arial;
}

#p2 {
    font-family: Aria, Verdana;
    font-style: italic;
    font-weight: bolder;
}

#p3 {
    font-family: "tangerine";
    font-size: 100px;
}