p {
    border-style: inset;
    border-width: 5px;
    border-color: lightslategray;
    border-right: dotted;
    border-right-color: lime;
    border-bottom-width: 10px;
    border-radius: 10px;
}
